@import '../../scss/mixins';
@import '../../scss/variables';

.admin-form {
  @include flexible();
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  color: $color-gray;
  gap: 16px;

  &__fieldset {
    @include flexible();
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    gap: 12px;
  }

  &__label {
    @include flexible();
    flex-direction: column;
    gap: 4px;

    &_button {
      @include button(8px 12px);
      @include buttonColor(max-content, $color-decorate-button-green);
      position: absolute;
    }
  }

  &__button {
    @include button();
    @include buttonColor();

    &_tag {
      width: max-content;
      padding: 10px;
      background-color: $color-gray;
      gap: 8px;
    }

    &_delete-image {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 24px;
      height: 24px;
      background-color: $color-bg-input;
    }

    &_delete-project {
      @include defaultLink;
      align-self: end;
      max-width: max-content;
      color: $color-decorate-link;
      white-space: nowrap;
    }
  }

  &__wrapper {
    @include flexible();
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    @include flexible(max-content);
    gap: 8px;
  }

  &__link {
    @include defaultLink;
    width: max-content;
    color: $color-decorate-link;
    white-space: nowrap;
  }

  &__tags {
    @include flexible();
    @include unmarkedList;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__legend {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: $color-gray;
  }
}
