@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.admin-skills {
  &__title {
    font-size: 12px;
    text-align: center;
    color: $color-dark;
  }

  &__link {
    @include flexible();
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: auto;
    color: $color-dark;
    text-decoration: none;
    gap: 16px;
  }
}
