@import '../../../scss/mixins';
@import '../../../scss/variables';

.skills {
  &__title {
    @include defaultSubtitle(32px);
  }

  &-text {
    @include flexible();
    flex-direction: column;
    max-width: $middle-width;
    gap: 10px;

    &__paragraph {
      margin: 0;
    }
  }
}

.skill {
  @include gridable(100%);
  justify-items: center;
  max-width: 150px;
  gap: 20px;
  &__title {
    @include defaultSubtitle(18px);
    text-align: center;
  }
}
