@import '../../scss/mixins';
@import '../../scss/variables';

.profile {
  @include gridable(100%);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  height: 100vh;
  padding: 0;
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 5;
    opacity: 0.5;
    backdrop-filter: blur(25px);
  }
  @media screen and (max-width: $tablet-large) {
    justify-content: center;
    justify-items: center;
  }
  &__info {
    @include gridable(100%);
    justify-items: center;
    z-index: 10;
  }
  &__title {
    color: $color-bg-white;
    align-self: end;
    margin: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    @media screen and (max-width: $tablet-small) {
      font-size: 60px;
    }
    @media screen and (max-width: $smartphone) {
      font-size: 45px;
    }
  }
  &__subtitle {
    color: $color-bg-white;
    margin: 0;
    font-weight: 500;
    font-size: 27px;
    line-height: 1;
    @media screen and (max-width: $tablet-small) {
      font-size: 21px;
    }
    @media screen and (max-width: $smartphone) {
      font-size: 15px;
    }
  }
  &__text {
    z-index: 10;
    color: $color-bg-white;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: $smartphone) {
      font-size: 14px;
    }
  }

  &__paragraph {
    margin: 0;
  }
  &__figure {
    @include gridable(100%);
    max-width: 300px;
    margin: 0;
    background-color: $color-main-text;
  }
  &__photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    //clip-path: polygon(70% 0, 100% 100%, 30% 100%, 0 0);
    // transform: translate(-10px, 10px);
  }
}
