@import '../../scss/mixins';
@import '../../scss/variables';

.portfolio {
  gap: 20px;
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $max-width;
  &__title {
    @include defaultSubtitle;
  }
  &__list {
    @include gridable(100%);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    @include unmarkedList;
    @media screen and (max-width: $smartphone) {
      grid-template-columns: 1fr;
    }
    &-item {
      width: 100%;
    }
  }
  &__figure {
    @include gridable(100%);
    margin: 0;
  }
  &__image {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}
