@import '../../scss/mixins';
@import '../../scss/variables';

.logo {
  @include flexible(100%);
  z-index: 10;
  font-weight: 700;
  font-size: 34px;
  color: $color-bg-white;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  -webkit-text-stroke: 1px $color-main-text;
  &_small {
    font-size: 25px;
  }
  &:hover {
    opacity: 0.8;
  }
  &__left-char {
    z-index: 10;
  }
  &__right-char {
    z-index: 5;
    transform: translateX(-0.5em);
  }
}
