@import '../../scss/mixins';
@import '../../scss/variables';

.logo {
  @include flexible(100%);
  z-index: 10;

  &_middle {
    width: 28px;
    height: 28px;
    fill: $color-main-text;
    stroke: $color-bg-white;
  }
  &_small {
    width: 20px;
    height: 24px;
    fill: $color-bg-white;
    stroke: $color-main-text;
  }
}
