@import '../../scss/mixins';
@import '../../scss/variables';

.form {
  @include flexible();
  flex-direction: column;
  box-sizing: border-box;
  max-width: 400px;
  padding: 10px;
  font-size: 12px;
  color: $color-gray;
  gap: 16px;

  &__title {
    @include defaultSubtitle(24px);
    color: $color-dark;
  }

  &__fieldset {
    @include flexible();
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    gap: 12px;
  }

  &__label {
    @include flexible();
    flex-direction: column;
    gap: 4px;
  }

  &__input {
    height: 46px;
    padding: 0 15px;
    font-weight: normal;
    font-size: 14px;
    color: $color-dark;
    background-color: $color-bg-input;
    border: none;
    border-radius: $borderRadiusDefault;
    outline: none;
  }

  &__button {
    @include button(10px);
    @include buttonColor(100%, $color-decorate-link);
  }

  &__description {
    @include flexible();
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__text {
    @include flexible(max-content);
    gap: 8px;
  }

  &__link {
    @include defaultLink;
    width: max-content;
    color: $color-decorate-link;
    white-space: nowrap;
  }
}
