@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.admin-section {
  &__title {
    @include defaultSubtitle(24px);
    text-align: center;
  }

  &__subtitle {
    @include defaultSubtitle(20px);
    text-align: center;
  }

  &__container {
    @include gridable();
    justify-items: center;
    gap: 25px;
  }

  &__buttons {
    @include flexible(max-content);
    @include unmarkedList;

    &_global {
      justify-content: center;
      gap: 10px 30px;
    }

    &_local {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__button {
    @include flexible();
    @include button();

    &_save,
    &_reset,
    &_add {
      @include buttonColor();
      max-width: max-content;
      padding: 10px;
    }

    &_save {
      background-color: $color-decorate-button-green;
    }

    &_reset {
      background-color: $color-decorate-link;
    }

    &_add {
      color: $color-dark;
      border: 1px solid $color-bg-dot;
      border-radius: $borderRadiusDefault;
    }

    &_edit,
    &_delete {
      width: 24px;
      height: 24px;
      background-color: $color-bg-input;
      border: 1px solid $color-bg-dot;
      border-radius: $borderRadiusDefault;
    }
  }

  &__date {
    font-size: 12px;
  }

  &__text {
    @include gridable(100%);
    gap: 8px;
  }

  &__paragraph {
    margin: 0;
  }

  &__wrapper {
    @include flexible();

    &_experience,
    &_contacts {
      flex-direction: column;
      gap: 16px;
    }

    &_contacts {
      align-items: center;
    }
  }
}
