@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.admin-section {
  &__title {
    @include defaultSubtitle(24px);
  }

  &__subtitle {
    @include defaultSubtitle(20px);
  }

  &__container {
    @include gridable();
    justify-items: center;
    gap: 25px;
  }

  &__buttons {
    @include flexible(max-content);
    @include unmarkedList;

    &_global {
      justify-content: center;
      gap: 10px 30px;
    }

    &_local {
      position: absolute;
      top: 8px;
      right: 8px;
      gap: 8px;
    }
  }

  &__button {
    @include button();

    &_save,
    &_reset {
      @include buttonColor();
      padding: 10px;
    }

    &_save {
      background-color: $color-decorate-button-green;
    }

    &_reset {
      @include buttonColor();
      background-color: $color-decorate-link;
    }

    &_edit,
    &_delete {
      width: 24px;
      height: 24px;
      background-color: $color-bg-input;
      border-radius: $borderRadiusDefault;
      border: 1px solid $color-bg-dot;
    }
  }

  &__list {
    @include unmarkedList;
    @include flexible();

    &_experience {
      flex-direction: column;
      max-width: $middle-width;
      gap: 50px;
    }

    &_projects {
      @include gridable();
      @include unmarkedList;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 24px 18px;
    }

    &-item {
      @include gridable();
      gap: 5px;
      position: relative;

      &_projects {
        width: 100%;
        overflow: hidden;
        border: 1px solid $color-bg-dot;
        border-radius: $borderRadiusDefault;
      }
    }
  }

  &__date {
    font-size: 12px;
  }

  &__text {
    @include gridable(100%);
    gap: 8px;
  }

  &__paragraph {
    margin: 0;
  }
}
