@import '../../scss/_mixins';
@import '../../scss/_variables';

.icon {
  &__profile {
    width: 25px;
    height: 25px;
    animation: moveArrowDown 2.5s infinite ease-in-out;
    fill: $color-bg-white;
  }
  &__skill {
    width: 120px;
    height: 120px;
  }
  &__contact {
    width: 20px;
    height: 20px;
  }
}

@keyframes moveArrowDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
