@import '../../scss/_mixins';
@import '../../scss/_variables';

.icon {
  fill: $color-dark;
  &__project-link {
    width: 15px;
    height: 15px;
  }
  &__profile {
    width: 25px;
    height: 25px;
    animation: moveArrowDown 2.5s infinite ease-in-out;
    fill: $color-light;
  }
  &__skill {
    width: 120px;
    height: 120px;
  }
  &__contact {
    width: 20px;
    height: 20px;
  }
  &__logo {
    @include flexible(48px);
    z-index: 10;
    height: 48px;
    fill: $color-light;
    stroke: $color-dark;
    &_small {
      width: 24px;
      height: 24px;
    }
  }
  &__theme {
    z-index: 10;
    width: 24px;
    height: 24px;
    &_sun {
      fill: $color-light;
    }
  }
}

@keyframes moveArrowDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
