@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.admin-projects {
  &__list {
    &-item {
    }
  }

  &__figure {
    @include flexible();
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  &__caption {
    padding: 8px;
    font-size: 12px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    object-position: top;
  }

  &__link {
    color: $color-dark;
    text-decoration: none;
  }
}
