@import '../../scss/_mixins';
@import '../../scss/_variables';

.admin-section {
  &__title {
    @include defaultSubtitle(24px);
  }

  &__container {
    @include gridable(100%);

    &_profile {
      grid-template-areas:
        'description-name name'
        'description-position position'
        'description-text text';
      grid-template-columns: max-content 1fr;
      max-width: $middle-width;
      gap: 20px 30px;
    }
  }

  &__buttons {
    @include flexible(100%);
    @include unmarkedList;
    justify-content: center;
    gap: 10px 30px;
  }

  &__button {
    @include button(8px 12px);
    border-radius: $borderRadiusDefault;
    font-size: 12px;
    font-weight: 500;
    color: $color-light;

    &_save {
      background-color: $color-decorate-button-green;
    }

    &_reset {
      background-color: $color-decorate-link;
    }
  }
}
