@import '../../scss/_mixins';
@import '../../scss/_variables';

.admin-section {
  &__title {
    @include defaultSubtitle(24px);
  }

  &__container {
    @include gridable();

    &_profile,
    &_project {
      max-width: $middle-width;
    }
  }

  &__buttons {
    @include flexible();
    @include unmarkedList;
    justify-content: center;
    gap: 10px 30px;
  }

  &__button {
    @include button(10px);
    @include buttonColor();

    &_save {
      background-color: $color-decorate-button-green;
    }

    &_reset {
      background-color: $color-decorate-link;
    }
  }
}
