@import '../../scss/mixins';
@import '../../scss/variables';

.contact {
  @include flexible(max-content);
  justify-items: center;
  align-items: center;
  gap: 20px;
  &__title {
    @include defaultSubtitle(18px);
  }
  &__link {
    @include defaultLink;
    color: $color-dark;
  }
}
