@import '../../scss/mixins';
@import '../../scss/variables';

.header {
  @include gridable(100%);
  justify-items: center;
  box-sizing: border-box;
  grid-area: block;
  height: $header-height;
  &__container {
    @include gridable(100%);
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    max-width: $max-width;
    gap: 20px 0;
    padding: 10px 20px;
  }
}
