@import '../../scss/mixins';
@import '../../scss/variables';

.header {
  &__switcher {
    grid-area: theme;
    z-index: 10;
    &-button {
      @include button;
      @include flexible(100%);
      align-items: center;
    }
  }
}
