@import '../../scss/_mixins';
@import '../../scss/_variables';

.section {
  gap: 40px;
  @include gridable(100%);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  justify-items: center;
  max-width: $max-width;
}
