@import '../../scss/_mixins';
@import '../../scss/_variables';

.admin-skills {
  &__title {
    font-size: 12px;
    text-align: center;
  }

  &__list-item {
    position: relative;
    @include flexible();
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    height: auto;
    text-decoration: none;
    gap: 16px;
  }
}
