@import '../../scss/_mixins';
@import '../../scss/_variables';
.slider__dot {
  @include flexible(100%);
  z-index: 10;
  width: 15px;
  height: 15px;
  background-color: $color-bg-dot;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  @media screen and (max-width: $tablet-small) {
    width: 10px;
    height: 10px;
  }
  &-button {
    @include button;
    width: 100%;
    border-radius: 50%;
    border: 2px solid $color-bg-dot;

    &_active {
      background-color: rgba($color-decorate-link, 0.8);
      border: 2px solid $color-bg-dot;
    }
  }
}
