@import '../../scss/_mixins';
@import '../../scss/_variables';
.slider__dot {
  @include flexible(30px);
  z-index: 10;
  height: 6px;
  background-color: $color-bg-dot;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  @media screen and (max-width: $tablet-small) {
    width: 10px;
    height: 10px;
  }
  &-button {
    @include button;
    width: 100%;
    border-radius: 10px;

    &_active {
      background-color: rgba($color-decorate-link, 0.8);
    }
  }
}
