@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin defaultLink {
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: $color-main-text;
    transition: width 0.5s;
  }

  &:hover::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: $color-decorate-link;
    transition: width 0.5s; /* Время эффекта */
  }
}

@mixin defaultTitle {
  margin: 0;
  line-height: 1;
  font-weight: 700;
}

@mixin defaultSubtitle {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-weight: 500;
}

@mixin button() {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: none;
  transform: scale(1);
  cursor: pointer;
  transition: 0.5s;
}
