$color-light: #ffffff;
$color-dark: #111111;
$color-gray: #adacac;
$color-bg-dot: #d8d8d8;
$color-bg-input: #f9f9f9;
$color-decorate-link: #ff0000;
$color-decorate-button-green: #32ba43;
$header-height: 70px;
$header-height-small: 50px;
$max-width: 1280px;
$borderRadiusDefault: 4px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-default: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 28px;
$font-size-xxl: 40px;
$font-size-xxxl: 60px;
$font-size-xxxxl: 80px;

$font-family: 'Inter', Arial, sans-serif;

$padding-z: 0px;
$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 18px;
$padding-xl: 24px;
$padding-xxl: 48px;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
$middle-width: 600px;

$mouse-device: '(hover: hover) and (pointer: fine)';
