$color-light: #ffffff;
$color-dark: #111111;
$color-gray: #adacac;
$color-bg-dot: #d8d8d8;
$color-bg-input: #f9f9f9;
$color-decorate-link: #ff0000;
$header-height: 70px;
$header-height-small: 50px;
$max-width: 1280px;
$borderRadiusDefault: 4px;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
$middle-width: 800px;

$mouse-device: '(hover: hover) and (pointer: fine)';
