@import '../../scss/mixins';
@import '../../scss/variables';
.admin-profile {
  &__title {
    @include defaultSubtitle(24px);
  }
  [contenteditable='true']:focus {
    outline: none; /* Убираем стандартную обводку при фокусе */
    border-color: #0078d4; /* Цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.5); /* Тень при фокусе */
  }
}
