@import '../../scss/_mixins';
@import '../../scss/_variables';

.admin-projects {
  &__figure {
    @include flexible();
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    border: 1px solid $color-bg-dot;
    border-radius: $borderRadiusDefault;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  &__caption {
    padding: $padding-s;
    font-size: $font-size-xs;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    object-position: top;
  }

  &__link {
    color: $color-dark;
    text-decoration: none;
  }
}
