@import '../../scss/_mixins';
@import '../../scss/_variables';

.slider {
  @include gridable(100%);
  position: relative;
  justify-self: center;
  max-width: calc($max-width - 40px);
  height: 100%;
  overflow: hidden;

  &:hover .slider__image {
    transform: scale(1.05);
  }

  &__dots {
    @include flexible(100%);
    @include unmarkedList;
    position: absolute;
    top: 20px;
    z-index: 10;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
  }
  &__list {
    @include flexible(100%);
    @include unmarkedList;
    transform: translateX(0);
    transition: 0.5s ease-in-out;
  }

  &__button {
    @include flexible(auto);
    @include button();
    position: absolute;
    z-index: 10;
    align-self: center;
    height: auto;
    margin: 0 10px;
    background-color: transparent;
    @media screen and (max-width: $tablet-small) {
      width: 48px;
      height: 48px;
      font-size: 18px;
    }
    &_left {
      justify-self: left;
    }
    &_right {
      justify-self: right;
    }
  }
  &__text {
    position: absolute;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    color: $color-light;
    background-color: rgba($color-dark, 0.2);
    @media screen and (max-width: $tablet-small) {
      padding: 5px;
      font-size: 24px;
    }
    @media screen and (max-width: $smartphone) {
      font-size: 18px;
    }
  }
  &__link {
    @include defaultLink();
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
